html{
    background-color: black;
}

.text-input-area{
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
}


#text-input::placeholder{
    font-size: xx-large;
    color: white;
}

#text-input{
    padding: 1%;
    font-size: xx-large;
    width: 80%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    background-color: grey;
    color: white;
    word-wrap: break-word;
    resize: none;
    overflow: auto;
}
.preview{
    height: auto;
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid red;
    font-size: xx-large;
    color: rgb(0,110,255);
    padding: 1%;
    word-wrap: break-word;
}

#print-btn{
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 50px;
    width: 5%;
    border-radius: 15px;
    font-size: x-large;
    background-color: red;
    color: white;
    border: 3px solid rgb(0,110,255);
    margin-top: 25px;
}

@media print{
    .text-input-area,#print-btn{
        display: none;
    }
    .preview{
        border: none;
        color: black;
    }
}