html{
    background-color: black;
    color: yellow;
}
header{
    color: rgb(0,110,255);
    text-align: center;
    font-size: xx-large;
}
#tt:focus{
    border: 7px solid orange;
}
#tt{
    resize: none;
    width: 90%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 3px solid red;
    font-size: x-large;
}
.controls{
    width: 100%;
}
input{
    font-size: larger;
    display: block;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.n{
    width: fit-content;
    margin: auto;
    margin-top: 25px;
}
button{
    color: rgb(0,110,255);
    background-color: black;
    border: 3px solid rgb(0,110,255);
    font-size: x-large;
}
#pt{
    visibility: hidden;
}
@media print{
    button,header,input{
        display: none;
    }
    #tt{
        display: none;
    }
    #pt{
        visibility: visible;
        color: black;
        font-size: large;
    }
}